/* 
  general-styles.css
  Auteur: Nathan TASTET
  Styles généraux qui s'appliquent à l'ensemble de l'interface de contrôle Leenby.
  Cela peut inclure des réinitialisations, des styles de typographie de base, des grilles de mise en page et des variables CSS.
*/


/* Réinitialisation globale */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Configuration du corps */
body {
  display: flex;
  width: 100vw;
  height: 100vh;
  background-color: #F4F4F4;
  font-family: 'Tahoma', sans-serif;
  overflow: hidden;
}

/* Configuration des colonnes gauche et droite */
#left, #right{
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 1%;
  border-radius: 2vh;
  transition: all 0.3s ease;
}
