/* 
  general-styles.css
  Auteur: Nathan TASTET - 2024
  Styles généraux qui s'appliquent à l'ensemble de l'interface de contrôle Leenby.
  Cela peut inclure des réinitialisations, des styles de typographie de base, des grilles de mise en page et des variables CSS.
*/

/* Variables CSS */
:root {
  --background-body: #F4F4F4;
  --background-left: #EAEDED;
  --background-right: #F4F6F7;
  --shadow-color: rgba(0, 0, 0, 0.2);
  --box-shadow: 2vh 0 8vh var(--shadow-color);
}


/* Réinitialisation globale */
* {
  box-sizing: border-box; /* la taille du contenu n'inclut pas les marges */
  margin: 0;
  padding: 0;
}

/* Configuration du corps */
body {
  display: flex;
  width: 100vw;
  height: 100vh;
  background-color: var(--background-body);
  font-family: 'Tahoma', sans-serif;
  overflow: hidden;
}

/* Configuration générale pour les colonnes gauche et droite */
#left, #right, #right2 {
  display: flex;
  flex-direction: column;
  height: 100%;
  border-radius: 2vh;
  transition: all 0.3s ease;
}

/* Configuration spécifique à la section gauche */
#left {
  flex-basis: 60%;
  width: 60%;
  padding: 0 2vh;
  background-color: var(--background-left);
  box-shadow: var(--box-shadow);
  z-index: 2;
}

/* Configuration spécifique à la section droite */
#right, #right2 {
  flex-basis: 40%;
  width: 40%;
  background-color: var(--background-right);
  box-shadow: -2vh 0 8vh var(--shadow-color);
  z-index: 1;
  transition: opacity 0.5s ease;
}