/* 
  general-styles.css
  Auteur: Nathan TASTET
  Styles généraux qui s'appliquent à l'ensemble de l'interface de contrôle Leenby.
  Cela peut inclure des réinitialisations, des styles de typographie de base, des grilles de mise en page et des variables CSS.
*/


/* Réinitialisation globale */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Configuration du corps */
body {
  display: flex;
  width: 100vw;
  height: 100vh;
  background-color: #F4F4F4;
  font-family: 'Tahoma', sans-serif;
  overflow: hidden;
}

/* Configuration des colonnes gauche et droite */
#left, #right{
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 1%;
  border-radius: 2vh;
  transition: all 0.3s ease;
}

/* Configuration principale de la section gauche */
#left {
  flex-basis: 60%;
  background-color: #EAEDED;
  box-shadow: 2vh 0 8vh rgba(0, 0, 0, 0.2);
  z-index: 2;
}

/* Styles pour les éléments de droite */
#right, #right2 {
  flex-basis: 40%;
  background-color: #F4F6F7;
  box-shadow: -2vh 0 8vh rgba(0, 0, 0, 0.2);
  z-index: 1;
  transition: opacity 0.5s ease;
}

/* Styles pour la vue 3D */
#right2{
  height: 100%;
  width: 40%;
  border-radius: 2vh;
}

canvas{
  border-radius: 2vh;
}
