/* 
  left-section.css
  Auteur: Nathan TASTET
  Styles spécifiques à la section gauche de l'interface de contrôle Leenby.
  Contient les styles pour les éléments de paramétrage des moteurs des bras du robot : sliders, boutons.
*/


#title {
  font-size: 2.3em;
  text-align: center;
  font-weight: bold;
  color: #333;
  padding-top: 0.1em;
  padding-bottom : 0.1em;
  margin: 0;
  background-color: transparent;
  letter-spacing: 0.05em;
}



/* Styles du tableau contenant les sliders */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 0.1em;
}

th, td {
  padding: 8px;
  text-align: center; /* Centre le contenu horizontal dans la cellule */
  vertical-align: middle; /* Centre le contenu vertical dans la cellule */
}

th {
  background-color: #f2f2f2;
  border-bottom: 1px solid #ddd;
}

tr {
  border-bottom: 1px solid #ddd;
}

.elevated{
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Effet d'ombre pour la surélévation */
  background: #ccc;
  user-select: none;
}

/* Styles des colonnes pour l'alignement et la largeur */
.col1 { width: 12%; }
.col2 { width: 10%; }
.col3 { width: 10%; }
.col4 { width: 50%; }
.col5 { width: 17%; }


.armButton, #vue3DButton {
  cursor: pointer;
  background-color: #99A3A4;
  border-radius: 1vh;
  padding: 1vh 2vh;
  font-size: 2vh;
  transition: background-color 0.3s ease;
  box-shadow: 0 0.3vh 0.1vh rgba(0, 0, 0, 0.1);
  margin-left: 1vh; /* Espacement entre les boutons */
}

/* Styles pour les boutons lorsqu'ils sont actifs ou en survol */
.armButton.active {
  background-color: #34495E;
  color: #FFFFFF;
}

.armButton:hover {
  background-color: #85929E;
}

#vue3DButton{
  width: 90%;
  height: 100%;
  background-color: #ECF0F1;
  color: #333; 
  border: 2px solid #333;
  border-radius: 10px; 
  transition: all 0.3s;
  display: flex; 
  align-items: center;
  justify-content: center;
}


/* Styles pour le bouton lorsqu'ils est actif ou en survol */
#vue3DButton.active {
  background-color: #333;
  color : #ECF0F1;
  border: 2px solid #999;
}

#vue3DButton:hover {
  transform: scale(0.95);
}


#vue3DButton .icon {
  filter: brightness(0) saturate(100%) invert(10%); /* Ceci est une estimation pour transformer l'image en #333 */
  height: 5vh;
  aspect-ratio: 1/1;
  margin-right: 8px; /* Espace entre l'icône et le texte */
}


#vue3DButton .btnText{
  font-size: 115%;
  font-weight: bold;
  padding: 2px;
}

#vue3DButton.active .icon {
  filter: brightness(0) saturate(100%) invert(90%); /* Ceci est une estimation pour transformer l'image en #ECF0F1 */
}

/* Styles des boutons de réinitialisation et de validation */
#reset_button, #check_button {
  /* Styles communs aux boutons RAZ et Valider */
  cursor: pointer;
  border-radius: 1vh;
  padding: 1vh 2vh;
  font-size: 2vh;
  margin-left: 1vh;
  transition: background-color 0.3s ease;
  box-shadow: 0 0.3vh 0.1vh rgba(0, 0, 0, 0.1);
}

#reset_button {
  background-color: #FF4136;
}

#reset_button:hover {
  background-color: #FF6347;
}

#check_button {
  background-color: #2ECC40;
}

#check_button:hover {
  background-color: #51f851;
}

/* Configuration des sliders pour le contrôle des angles des moteurs */
.slider-container {
  width: 100%;
  padding: 2vh 1.5vh;
}

input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 1.5vh;
  border-radius: 1vh; /* Arrondir les bords */
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  outline: none;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 24px;
  height: 24px;
  background-color: #56d8d8;
  border-radius: 50%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

input[type="range"]::-moz-range-thumb {
  width: 24px;
  height: 24px;
  background-color: #56d8d8;
  border-radius: 50%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}


/* Styles des inputs de type number pour l'affichage des angles */
input[type="number"] {
  width: 70%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  margin-bottom: 10px;
  display: block;
  margin: 0 auto; /* Centre l'élément horizontalement dans la cellule */
}

input[type="number"]:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

#signature {
  color: #333;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
}

#signature img{
  width: 10vw; /* Spécifiez la largeur souhaitée ici */
  height: auto; /* Permet de conserver la proportion originale de l'image */
  float: left;
  margin-right: 10px; /* Espace entre l'image et le texte */
}

/* Style du texte à droite */
.right-text {
  display: inline-block;
}

.slider-marks {
  z-index : 1;
  position : relative;
  top: -3.5vh;
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
  padding : 0 1.5vh;
}

.slider-marks .mark {
  z-index : 0;
  height: 10px;
  width: 2px;
  background-color: black;
}

.mark p{
  position: relative;
  left : -2vh;
  text-align: center;
}

#el2{
  position:relative;
  padding: 0.5vh 3vh;
}

.elevated input[type="range"] {
  position: relative;
  z-index: 2; /* La poignée est au-dessus des marques de pourcentage */
}
