/* 
  left-section.css
  Auteur: Nathan TASTET - 2024
  Styles spécifiques à la section gauche de l'interface de contrôle Leenby.
  Contient les styles pour les éléments de paramétrage des moteurs des bras du robot : sliders, boutons.
*/

/* Header titre : image texte et boutons menu */

header {
  width: 100%;
  height: 10%;
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  z-index: -1;
  transform: translateY(1vh);
}

header img{
  object-fit: cover;
  height: 100%;
  float: left;
  transition: all 0.5s ease;
}

#title{
  height: 100%;
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 2vh;
}

#menu{
  height: 100%;
  flex:2;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap : 0.7vw;
}

#logoLeenby:hover{
  transform: translateY(-1vh);
  filter: drop-shadow(0 0 20px var(--shadow-color2));
}

#title h1 {
  text-align: left;
  font-size: 4.5vh;
  margin-left: 10px;
  position: relative;
  padding-right: 10px;
}

#title h1 #titre1 {
  color: var(--color-titre1);
}

#title h1 #titre2 {
  color: var(--color-titre2);
}

.menuButton{
  width: 6vh;
  height: 6vh;
  cursor: pointer;
  transition: all 0.5s ease;
  transform: translateY(-1vh);
  border:none;
}

.menuButton:hover {
  filter: drop-shadow(0 0 20px var(--shadow-color2));
}

#settingsButton:hover{
  transform: translateY(-1vh) rotate(180deg);
}

/* Styles du tableau contenant les sliders */
table {
  width: 100%;
  height: 90%;
  border-collapse: collapse;
  flex: 9;
  color:#222;
  border-radius: 2vh;
  overflow: hidden;
}

th, td {
  padding: 8px;
  text-align: center; /* Centre le contenu horizontal dans la cellule */
  vertical-align: middle; /* Centre le contenu vertical dans la cellule */
  transition: all 0.5s ease;
  background-color: #DBDDE3;
}

td.col3, td.col2{
  font-size: 2vh;
}

th,tr {
  background-color: #f2f2f2;
}

/* Styles des colonnes pour l'alignement et la largeur */
.col1 { width: 12%;}

th, .col1{
  background-color: var(--titre-tableau);
  color: var(--background-body);
}

.col2 { width: 10%;}

.col3 { 
  width: 10%; 
}
.col4 { width: 50%; 
}
.col5 { width: 17%; }

td.colSelected {
  background-color: var(--selected);
  color: var(--noir);
  font-size: 2.5vh;
}

/* Styles des boutons de contrôle */

#selectArm{
  position: relative;
  z-index: 5;
  overflow: visible;
  display: flex;
  justify-content: space-around;
  height: 100%;
  width: 128%;
  margin: 1% 5%;
  border: 2px solid #ddd;
  border-radius: 5vh;
  min-height: 7vh;
  background-color: var(--background-body);
}

.armButton {
  flex:1;
  cursor: pointer;
  padding: 1vh 2vh;
  font-size: 2vh;
  border:none;
  background-color: transparent;
  transition: all 0.3s;
  text-transform: uppercase;
  display: inline-block;
  border-radius: 5vh;
}

.armButton span {
  z-index: 5;
  position:relative;
  transition: all 0.3s;
}

.armButton:hover{
  background-color: #ddd;

}

.armButton.active span{
  color: var(--background-body); 
}

.active-slider {
  z-index: 3;
  position: absolute;
  height: 100%;
  width: 33.333%;
  bottom: 0;
  background-color: var(--color-titre1);
  transition: all 0.5s ease;
  border-radius: 5vh;
}


#reset_button, #check_button {
  cursor: pointer;
  border-radius: 0.5em;
  width: 100%;
  height: 9vh;
  font-size: 1.5em;
  transition: all 0.3s ease;
  border: none;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

#reset_button {
  background-color: var(--raz);
}

#check_button {
  background-color: var(--valider);
}

#reset_button:hover, #check_button:hover {
  filter: brightness(1.2);
}

#reset_button.active, #check_button.active {
  transform: scale(0.9);
  filter: brightness(1.4);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2); /* Ajoute une ombre pour un effet de profondeur */

}


/* Configuration des sliders pour le contrôle des angles des moteurs */
.slider-container {
  width: 100%;
  padding: 2vh 1.5vh;
}

input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 25%;
  border-radius: 1vh; /* Arrondir les bords */
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  outline: none;
  cursor: grab;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 4.2vh;
  height: 4.2vh;
  background-color: var(--thumb2);
  border-radius: 50%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  
}

input[type="range"]::-moz-range-thumb {
  width: 4.2vh;
  height: 4.2vh;
  background-color: var(--thumb2);
  border-radius: 50%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}


/* Styles des inputs de type number pour l'affichage des angles */
input[type="number"] {
  width: 70%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  margin-bottom: 10px;
  display: block;
  margin: 0 auto; 
}

input[type="number"]:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
}

/* Style du texte à droite */
.right-text {
  display: inline-block;
}

tfoot td{
  background-color: var(--background-left);
}

#el2{

  display: flex;
  flex-direction: column;
  align-items: center;
}

.slider-marks {
  display: flex;
  justify-content: space-between;
  width: 100%; /* Assurez-vous que cela correspond à la largeur de votre curseur */
  padding: 0 10px; /* Ajustez selon la marge intérieure souhaitée */
}

.slider-marks .mark {
  height: 10px;
  width: 2px;
  background-color: black;
}

.slider-value {
  display: flex;
  justify-content: space-between;
  width: 100%; /* Assurez-vous que cela correspond à la largeur de votre curseur */
  text-align: center;
}

.slider-value p {
  margin: 0; /* Supprime les marges par défaut des paragraphes */
  width: 5%;
}


input#vit_bras_slider  {
  position: relative;
  z-index: 2;
  background :linear-gradient(90deg, #FFFF00 0%, #FFFF00 60%, #ddd 60%, #ddd 100%);
  width: 100%; 
  height: 2vh;
  margin: 10px 0;
}

input#vit_bras_slider::-webkit-slider-thumb {
  background-color: var(--thumb-color);
  height: 3vh;
  width: 3vh;

}

input#vit_bras_slider::-moz-range-thumb {
  background-color: var(--thumb-color);
}