/* 
  left-section.css
  Auteur: Nathan TASTET - 2024
  Styles spécifiques à la section gauche de l'interface de contrôle Leenby.
  Contient les styles pour les éléments de paramétrage des moteurs des bras du robot : sliders, boutons.
*/

/* variables de couleur */
:root{
  --color-controle: #373D56; /* Remplacez par la couleur que vous voulez pour "Contrôle" */
  --color-leenby: #385357; /* Remplacez par la couleur que vous voulez pour "Leenby" */
  --shadow-color2: #463857;

}

#title {
  width: 100%;
  height: 10%;
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  z-index: -1;
}

#title img{
  object-fit: cover; /* Ajuste l'image pour couvrir l'espace disponible sans perdre ses proportions */
  height: 100%;
  float: left;
  transform: translateY(1vh);
  transition: all 0.5s ease;
}

#title img:hover{
  transform: translateY(0);
  filter: drop-shadow(0 0 20px var(--shadow-color2));

}

#title h1 {
  text-align: left;
  font-size: 4.5vh;
  margin-left: 5px;
  position: relative;
  padding-right: 10px;
  transform: translateY(1vh);
}

#title h1::after {
  color: var(--color-leenby);
  content: '_';
  animation: blink 1.5s infinite; /* Animation pour faire clignoter l'underscore */
  opacity: 1;
  font-weight: 1000;
}

#title h1 .controle {
  color: var(--color-controle);
}

#title h1 .leenby {
  color: var(--color-leenby);
}

/* Animation pour le clignotement de l'underscore */
@keyframes blink {
  0%, 50% { opacity: 1; }
  50.01%, 100% { opacity: 0; }
}

/* Styles du tableau contenant les sliders */
table {
  width: 100%;
  height: 80%;
  border-collapse: collapse;
  flex: 8;
}

th, td {
  padding: 8px;
  text-align: center; /* Centre le contenu horizontal dans la cellule */
  vertical-align: middle; /* Centre le contenu vertical dans la cellule */
}

th {
  background-color: #f2f2f2;
  border-bottom: 1px solid #ddd;
}

tr {
  border-bottom: 1px solid #ddd;
}

/* Styles des colonnes pour l'alignement et la largeur */
.col1 { width: 12%; }
.col2 { width: 10%; }
.col3 { width: 10%; }
.col4 { width: 50%; }
.col5 { width: 17%; }


.armButton, #vue3DButton {
  cursor: pointer;
  background-color: #99A3A4;
  border-radius: 1vh;
  padding: 1vh 2vh;
  font-size: 2vh;
  transition: background-color 0.3s ease;
  box-shadow: 0 0.3vh 0.1vh rgba(0, 0, 0, 0.1);
  margin-left: 1vh; /* Espacement entre les boutons */
}

/* Styles pour les boutons lorsqu'ils sont actifs ou en survol */
.armButton.active {
  background-color: #34495E;
  color: #FFFFFF;
}

.armButton:hover {
  background-color: #85929E;
}

#vue3DButton{
  width: 90%;
  height: 100%;
  background-color: #ECF0F1;
  color: #333; 
  border: 2px solid #333;
  border-radius: 10px; 
  transition: all 0.3s;
  display: flex; 
  align-items: center;
  justify-content: center;
}


/* Styles pour le bouton lorsqu'ils est actif ou en survol */
#vue3DButton.active {
  background-color: #333;
  color : #ECF0F1;
  border: 2px solid #999;
}

#vue3DButton:hover {
  transform: scale(0.95);
}


#vue3DButton .icon {
  filter: brightness(0) saturate(100%) invert(10%); /* Ceci est une estimation pour transformer l'image en #333 */
  height: 5vh;
  aspect-ratio: 1/1;
  margin-right: 8px; /* Espace entre l'icône et le texte */
}


#vue3DButton .btnText{
  font-size: 115%;
  font-weight: bold;
  padding: 2px;
}

#vue3DButton.active .icon {
  filter: brightness(0) saturate(100%) invert(90%); /* Ceci est une estimation pour transformer l'image en #ECF0F1 */
}

#reset_button, #check_button {
  cursor: pointer;
  border-radius: 0.5em;
  width: 100%;
  height: 9vh;
  font-size: 1.5em;
  transition: background-color 0.3s ease, color 0.3s ease;
  border: none;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
#reset_button {
  background-color: #FF4136;
}

#reset_button:hover {
  background-color: #FF6347;
}

#check_button {
  background-color: #2ECC40;
}

#check_button:hover {
  background-color: #51f851;
}

/* Configuration des sliders pour le contrôle des angles des moteurs */
.slider-container {
  width: 100%;
  padding: 2vh 1.5vh;
}

input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 1.5vh;
  border-radius: 1vh; /* Arrondir les bords */
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  outline: none;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 24px;
  height: 24px;
  background-color: #56d8d8;
  border-radius: 50%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

input[type="range"]::-moz-range-thumb {
  width: 24px;
  height: 24px;
  background-color: #56d8d8;
  border-radius: 50%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}


/* Styles des inputs de type number pour l'affichage des angles */
input[type="number"] {
  width: 70%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  margin-bottom: 10px;
  display: block;
  margin: 0 auto; /* Centre l'élément horizontalement dans la cellule */
}

input[type="number"]:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

#signature {
  display: flex;
  color: #333;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  flex: 1;
  height: 10%;
  justify-content: center;
  align-items: center; 

}

#signature img{
  width: auto; 
  height: 100%;
  float: left;
  margin-right: 10px;
}

/* Style du texte à droite */
.right-text {
  display: inline-block;
}

.elevated {
  background: #ccc;
  user-select: none;
  padding: 10px;
}

#el2{

  display: flex;
  flex-direction: column;
  align-items: center;
}

.slider-marks {
  display: flex;
  justify-content: space-between;
  width: 100%; /* Assurez-vous que cela correspond à la largeur de votre curseur */
  padding: 0 10px; /* Ajustez selon la marge intérieure souhaitée */
}

.slider-marks .mark {
  height: 10px;
  width: 2px;
  background-color: black;
}

.slider-value {
  display: flex;
  justify-content: space-between;
  width: 100%; /* Assurez-vous que cela correspond à la largeur de votre curseur */
  text-align: center;
}

.slider-value p {
  margin: 0; /* Supprime les marges par défaut des paragraphes */
  width: 5%;
}


#el2 input[type="range"] {
  position: relative;
  z-index: 2;
  background :linear-gradient(90deg, #FFFF00 0%, #FFFF00 60%, #ddd 60%, #ddd 100%);
  width: 100%; 
  margin: 10px 0;
}

#el2 input[type="range"]::-webkit-slider-thumb {
  background-color: var(--thumb-color);
  cursor: pointer;
}

#el2 input[type="range"]::-moz-range-thumb {
  background-color: var(--thumb-color);
  cursor: pointer;
}

:root {
  --thumb-color: #FFFF00;
}