/* 
  popup.css
  Auteur: Nathan TASTET - 2024
  Styles spécifiques au popup qui s'affiche lorsque l'utilisateur enregistre un preset
*/

/*Variables CSS*/
:root{
  --angle : 0deg;
  --angle-hover : 20deg;
}


@keyframes changeColor {
  0%,100% {background-color: #3A405A;}
  50% {background-color: #6F9CEB;}
}


.popup {
  display: none;
  justify-content: center;
  align-items: center; 
  position: fixed;
  z-index: 4;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: none;
  background-color: rgba(0,0,0,0.4);
}
  
.popup-contenu {
  display:flex;
  flex-direction: column;
  background-color: #fefefe;
  padding: 2%;
  border: 1px solid #888;
  width: 60%;
  height: fit-content;
  border-radius: 1vh;
  box-shadow: 0 1vh 2vh rgba(0, 0, 0, 0.2);
}

#choixImage{
  margin-top : 2%;
}

#choixNom{
  display: flex;
  flex-direction: row;
  align-items: center;
}

#choixNom h2{
  margin-right : 2%;
}

.choixImageBtn{
  flex-basis: 20%;
  margin: 1.5%;
  width: 16.5%;
  aspect-ratio: 1/1;
  font-size: 2.5vh;
  justify-content: flex-start;
  background-color: #3A405A;
  border: 0.2vh solid #888;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  box-shadow: 0 1vh 2vh rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
  border-radius: 1vh;
}
.choixImageBtn:hover{
  animation: changeColor 0.5s infinite;
}

.choixImageBtn img{
  width: 80%;
  height: 80%;
  object-fit: contain;
  border-radius: 1vh;
}

#nomPreset{
  padding: 8px; /* Ajuste pour le confort */
  border: 1px solid #ccc; /* Couleur de bordure */
  border-radius: 4px; /* Bords arrondis */
  width: 25%;
  height: 100%;
}

#nomPreset::placeholder{
  color: #333; /* Couleur du placeholder */
  opacity: 1; /* Pleine visibilité */
}



#vue3DButton{
  z-index: 4;
  position:absolute;
  top: 1vh;
  right: 1vh;
  width: 6vw;
  cursor: pointer;
  padding: 2vh;
  height: 6vw;
  max-width: 90px;
  max-height: 90px;
  background-color: #ECF0F1;
  color: #333; 
  border: 2px solid #333;
  border-radius: 20vh;
  transition: all 0.3s;
  display: flex; 
  align-items: center;
  justify-content: center;
}


/* Styles pour le bouton lorsqu'ils est actif ou en survol */
#vue3DButton.active {
  background-color: #333;
  color : #ECF0F1;
  border: 2px solid #999;
}

#vue3DButton:hover, #vue3DButton.active:hover {
  transform: scale(0.95) rotate(var(--angle-hover));
}

#vue3DButton, #vue3DButton.active{
  transform: rotate(var(--angle));
}


#vue3DButton .icon {
  filter: brightness(0) saturate(100%) invert(10%); /* Ceci est une estimation pour transformer l'image en #333 */
  height: 100%;
  aspect-ratio: 1/1;
}

#vue3DButton.active .icon {
  filter: brightness(0) saturate(100%) invert(90%); /* Ceci est une estimation pour transformer l'image en #ECF0F1 */
}
