/* 
  right-section.css
  Auteur: Nathan TASTET
  Styles spécifiques à la section droite de l'interface de contrôle Leenby.
  Inclut les styles pour l'affichage des informations, les boutons de mouvements prédéfinis et le joystick.
*/

#right, #right2 {
  
  flex-basis: 40%;
  background-color: #F4F6F7;
  box-shadow: -2vh 0 8vh rgba(0, 0, 0, 0.2);
  z-index: 1;
  transition: opacity 0.5s ease;
}

#right2{
  height: 100%;
  width: 40%;
  border-radius: 2vh;
  transition: all 0.3s ease;
}

#vue3d{
  height: 100%;
  width: 100%;
}
/* Configuration des sections */
#infoSection, #presetSection, #joystickSection {
  flex-grow: 1;
  height: 33.33%;
  margin: 1vh;
}

#infoTexte {
  width: 100%;
  height: 90%;
  border: none;
  background-color: #1e1e1e;
  color: #A9B7C6;
  padding: 16px;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow-y: auto;
  white-space: pre-wrap;
  font-family: 'Courier New', monospace;
  font-size: 16px;
  line-height: 1.5;
}

#presetSection {
  display: flex;
  flex-wrap: wrap;
}

/* Configuration des boutons prédéfinis */
.presetBtn {
  flex-basis: calc(25% - 2vh);
  margin: 1vh;
  padding: 1vh;
  height: 15vh;
  width: 15vh;
  font-size: 2.5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: #4B0082;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  box-shadow: 0 1vh 2vh rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
  border-radius: 1vh;
}

/* Styles supplémentaires pour l'état :hover et :active */
.presetBtn:hover, .presetBtn:active {
  box-shadow: 0 4vh 8vh rgba(0, 0, 0, 0.4); /* Ombre plus prononcée */
  transform: translateY(-1vh); /* Déplacement plus visible */
  background-color: #7B1FA2; /* Couleur de fond légèrement différente */
}

/* Style spécifique pour l'état actif */
.presetBtn.active {
  background-color: #9C27B0; /* Couleur de fond beaucoup plus différente pour l'état actif */
  transform: scale(0.95); /* Réduction de la taille pour simuler un bouton enfoncé */
  border: 0.2vh solid #000000;
}

/* Style pour le texte dans les boutons */
.btnText {
  height: 30%; /* prend 30% de l'espace vertical du bouton */
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 2vh; /* espace en bas */
}

/* Style pour les icônes dans les boutons */
.btnIcon {
  margin-bottom: 10%;
  height: 60%; /* prend 60% de l'espace vertical du bouton */
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Configuration de la section du joystick */
#joystickSection {
  flex-basis: 33.3%;
  height: calc(33.33% - 1vh);
  margin: 1vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#joystickLeftDisplay {
  flex-basis: 50%;
  display: grid;
  grid-template-columns: 60% 40%;
  grid-gap: 7px;
  padding: 1.5vh;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.infoLabel,
.infoValue {
  padding: 8px;
  border-radius: 5px;
  margin: 0.5vh;
  text-align: center;
  white-space: nowrap;
  min-width: 50px;
  box-sizing: border-box;
  color: #000000;
  text-align: right;
}

.infoValue {
  text-align: center;
  background-color: #f1efef; 
  font-weight: bold;
  transition: width 0.3s ease, background-color 0.3s ease;
}




#joystickControls {
  flex-grow: 1;
  flex-basis: 50%;
  flex-grow: 0;
  flex-shrink: 0;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

#joystickControls2 {
  aspect-ratio: 1 / 1;
  height: 75%;
  margin: 25% auto;
  border-radius: 50%;
  box-shadow: 0 0.4vh 0.8vh rgba(0, 0, 0, 0.1);
}

/* Base du joystick */
#joystickBase {
  aspect-ratio: 1 / 1;
  width: 100%;
  border-radius: 50%;
  background: radial-gradient(circle, #b5b6b8 0%, #5b5d5d 100%);
  box-shadow: inset 0 0.4vh 0.8vh rgba(0, 0, 0, 0.2);
}

/* Encoches du joystick */
.notch {
  position: absolute;
  width: 4%;
  height: 36%;
  padding-bottom: 28%;
  top: 14%;
  left: 49%;
  transform-origin: bottom;
  background-color: transparent;
}

.notch-inner {
  width: 100%;
  height: 0.5em;
  background-color: #464a4a;
  box-shadow: 0 0.2vh 0.4vh rgba(0, 0, 0, 0.2);
}

#joystickHandle {
  position: relative;
  aspect-ratio: 1 / 1;
  height: 30%;
  border-radius: 50%;
  background: radial-gradient(circle, #6d7575 0%, #4c5050 100%);
  box-shadow: 0 0.4vh 0.8vh rgba(0, 0, 0, 0.3);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}